/* CSS for body, Navigation bar,*/
body {
  font-size: 20px;
  font-family: 宋体, Verdana, Arial, sans-serif;
  text-align: center;
  margin: 0;
}

.announcement {
  position: top;
}

/*Navigation bar grey, panned across the page, and stickied at top*/
.topNav {
  overflow: hidden;
  background-color: rgb(69, 78, 85);
  position: sticky;
  top: 0;
}
/*Deals with the links within navigation bar*/
.topNav ul {
  list-style: none outside none;
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  overflow: hidden;
}
li {
  display: inline;
  overflow: hidden;
}
.topNav a {
  float: left;
  display: block;
  color: #f3f3f3;
  padding: 14px 16px;
  text-decoration: none;
}
.topNav a:hover {
  background-color: rgb(192, 192, 194);
  color: rgb(27, 27, 27);
}
.topNav .active {
  background-color: rgb(240, 139, 6);
  color: rgb(27, 27, 27);
}
.topNav .icon {
  display: none;
}

@media screen and (max-width: 660px) {
  .topNav a:not(:first-child) {
    display: none;
  }
  .topNav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 660px) {
  .topNav.responsive {
    position: relative;
  }
  .topNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
