@charset "UTF-8";

/* CSS for body, Navigation bar,*/
body {
  font-size: 20px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-color: rgb(255, 250, 250);
}

#topAnnounce {
  position: top;
  display: flex;
  font-size: 15px;
}
#topAnnounce p {
  display: inline;
}

/*Color scheme for links, inverse for topContact normal for topNav*/
.wordColorSchemeInverse {
  color: rgb(85, 85, 85, 0.75);
}
.wordColorScheme {
  color: #f3f3f3;
}
.wordColorSchemeInverse:hover {
  color: rgb(1, 1, 1, 0.75);
  text-decoration: none;
}
.wordColorScheme:hover {
  color: rgb(223, 165, 5, 0.75);
  text-decoration: none;
}
.glow:hover {
  -webkit-stroke-width: 5.3px;
  stroke-width: 5.3px;
  text-shadow: 1px 0px 20px rgba(48, 48, 48, 0.65);
}

/*Smooths top and bottom edges for top, topNav and botNav*/
.top-edge-shadow {
  -webkit-box-shadow: 0 -4px 6px -6px rgb(161, 161, 161);
  -moz-box-shadow: 0 -4px 6px -6px rgb(161, 161, 161);
  box-shadow: 0 -4px 6px -6px rgb(161, 161, 161);
}
.bot-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px rgb(192, 192, 192);
  -moz-box-shadow: 0 8px 6px -6px rgb(192, 192, 192);
  box-shadow: 0 8px 6px -6px rgb(192, 192, 192);
}

/* top contact nav*/
#topContact {
  background-color: rgb(192, 192, 192, 0.96);
  max-height: 15px;
  font-size: 13px;
}
.besideIcon {
  vertical-align: middle;
}
#topContact #top-left ul li {
  padding-left: 10px;
  padding-right: 10px;
}
#topContact #top-right ul {
  font-variant: small-caps;
  font-weight: bold;
}
#topContact #top-right ul li {
  padding-left: 8px;
  padding-right: 8px;
}

/*Navigation bar grey, panned across the page, and stickied at top*/
#topNav {
  background-color: rgb(69, 78, 85, 0.96);
  padding-top: 5px;
  padding-bottom: 5px;
}
#topNav li {
  padding-left: 15px;
  padding-right: 15px;
}

.carousel-inner div img {
  width: 100%;
}
