/* Your CSS rules go here */
body{
    font-size: 12px;
    line-height: 2.5;
    font-family: 宋体, Verdana, Arial, sans-serif;
    text-align: center;

    
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    }
    
ol, ul{
    list-style: none outside none;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
}
