
  <nav class="top-edge-shadow container-fluid" id="topContact">
    <div class="row">

      <!--Top bar left email phone-->
      <div class="d-none d-md-block mr-auto" id="top-left">
        <div class="container">
          <div class="row">
            <ul>
              <!--email us-->
              <li class="emailUs col glow">
                <a class="contactDisplay wordColorSchemeInverse" href="">
                  <img src="img/Nav-Logo/black-back-closed-envelope-shape.svg" alt="Email" style="width:13px;">
                  <span class="besideIcon"></span>
                </a>
              </li>

              <!--call us-->
              <li class="callUs col glow">
                <a class="contactDisplay wordColorSchemeInverse" href="">
                  <img src="img/Nav-Logo/speech-bubble.svg" alt="Phone" style="width:13px;">
                  <span class="besideIcon"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Top bar right faq login language-->
      <div class="ml-auto" id="top-right">
        <div class="container">
          <ul class="row">
            <!--faq-->
            <li class="col glow">
              <a class="contactDisplay wordColorSchemeInverse" href="">
                <img src="img/Nav-Logo/question-mark.svg" alt="faq" style="width:11px;">
                <span class="besideIcon">faq</span>
              </a>
            </li>

            <!--Sign in-->
            <li class="col glow">
              <a class="contactDisplay wordColorSchemeInverse" href="login.html">
                <img src="img/Nav-Logo/login.svg" alt="faq" style="width:11px;">
                <span class="besideIcon">login</span>
              </a>
            </li>

            <!--Language-->
            <li class="col glow">
              <a id="lang" class="contactDisplay wordColorSchemeInverse" href="#">
                <img src="img/Nav-Logo/chinese.svg" alt="cn" style="width:15px;">
                <span *ngIf="!token">Chinese</span>
              </a>
              <a id="lang" class="contactDisplay wordColorSchemeInverse" href="#">
                <img src="img/Nav-Logo/chinese.svg" alt="cn" style="width:15px;">
                <span *ngIf="token">English</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </nav>