/* Roboto | Source Sans Pro | Arvo */
@import url("https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro|Arvo");

body {
  font-size: 20px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 100%;
  text-decoration: none;
  /*background-color: rgb(179, 165, 128);*/
  overflow: hidden;
}

ul {
    list-style: none outside none;
    padding: 0px;
    margin: 0px;
  }
  
a:link,
a:visited {
  text-decoration: none;
}
