
  <footer class="foot-edge-shadow" id="foot">

    <!--Top part of Footer-->
    <div class="container" id="foot-top">
      <div class="row">

        <!--Footer left Catch Links-->
        <div class="d-none d-lg-block">
          <div class="container" id="foot-top-left">
            <ul>
              <li class="wordColorSchemeNorm" id="foot-contact">
                <h4>Contact Us</h4>
                <div class="container-fluid">
                  <nav class="row">

                    <div class="locateUs col">

                      <h6 class="wordColorSchemeNormDark">Location</h6>
                      <a class="wordColorScheme glow" href="" target="_blank"></a>
                    </div>

                    <div class="emailUs col">
                      <h6 class="wordColorSchemeNormDark">Email Us</h6>
                      <a class="wordColorScheme glow" href="">
                        <span></span>
                      </a>
                    </div>

                    <div class="callUs col">
                      <h6 class="wordColorSchemeNormDark">Call Us</h6>
                      <a class="wordColorScheme glow" href="">
                        <span></span>
                      </a>
                    </div>

                  </nav>
                </div>

              </li>

              <li class="wordColorSchemeNorm" id="foot-nav">
                <h4>Navigation</h4>
                <nav class="container-fluid">

                  <ul class="row">
                    <li class="col">
                      <a class="wordColorScheme glow" href="">Home</a>
                    </li>
                    <li class="col">
                      <a class="wordColorScheme glow" href="">Program</a>
                    </li>
                    <li class="col">
                      <a class="wordColorScheme glow" href="">About Us</a>
                    </li>
                    <li class="col">
                      <a class="wordColorScheme glow" href="">Support</a>
                    </li>
                    <li class="col">
                      <a class="wordColorScheme glow" href="">Sign Up</a>
                    </li>
                  </ul>

                </nav>
              </li>

              <li class="wordColorSchemeNorm" id="foot-social">
                <h4>Follow Us</h4>
                <nav class="container-fluid">
                  <ul class="row">

                    <li class="col">
                      <a href="" class="wordColorScheme glow" id="facebook" target="_blank">
                        <span class="icon">
                          <i class="fab fa-facebook-square"></i>
                        </span>
                      </a>
                    </li>

                    <li class="col">
                      <a href="" class="wordColorScheme glow" id="twitter" target="_blank">
                        <span class="icon">
                          <i class="fab fa-twitter"></i>
                        </span>
                      </a>
                    </li>

                    <li class="col">
                      <a href="" class="wordColorScheme glow" id="google" target="_blank">
                        <span class="icon">
                          <i class="fab fa-google-plus-g"></i>
                        </span>
                      </a>
                    </li>

                    <li class="col">
                      <a href="" class="wordColorScheme glow" id="rss" target="_blank">
                        <span class="icon">
                          <i class="fa fa-rss"></i>
                        </span>
                      </a>
                    </li>

                  </ul>
                </nav>
              </li>
            </ul>
          </div>
        </div>

        <!--Footer Right Message Box-->
        <div class="col">
          <div>
            <h4>Send Us A Message</h4>
          </div>

          <form>
            <!--First row-->
            <div class="row">

              <!--name-->
              <div class="col">
                <div class="form-group">
                  <input type="text" class="inset-shadow form-control" id="input-name" placeholder="First & Last name">
                </div>
              </div>

              <!--email-->
              <div class="col">
                <div class="form-group">
                  <input type="email" class="inset-shadow form-control" id="input-password" aria-describedby="nnassurance" placeholder="Email Address">
                </div>
              </div>

            </div>

            <!--Second Row-->
            <!--Education-->
            <div class="form-group">
              <select class="inset-shadow form-control" id="edu-level">
                <option value="" disable selected hidden>Education Level of Child</option>
                <option>Pre-School</option>
                <option>Primary 1 & 2</option>
                <option>Primary 3 & 4</option>
                <option>Primary 5 & 6</option>
                <option>Secondary</option>
              </select>
            </div>

            <!--Third Row-->
            <!--Question txt-->
            <div class="form-group" id="txt">
              <textarea class="inset-shadow form-control" id="input-txt" rows="3" placeholder="Question"></textarea>
            </div>

            <!--Privacy Assurance-->
            <small class="form-text text-muted alignLeft" id="nnassurance">We'll never share your personal information with anyone else.</small>

            <!--Final Row-->
            <div class="row">

              <!--email copy-->
              <div class="col">
                <div class="form-check alignLeft">
                  <label class="wordColorSchemeNorm form-check-label" id="check-send">
                    <input type="checkbox" class="inset-shadow form-check-input">Receive a copy of this question as Email
                  </label>
                </div>
              </div>

              <!--Submit button-->
              <div class="col">
                <button type="submit" class="float-right inset-shadow-btn btn btn-primary">Send Message</button>
              </div>

            </div>

          </form>

        </div>

      </div>
    </div>

    <!--Divider Line-->
    <div class="line"></div>

    <!--Legal Nav-->
    <nav id="legal">
      <ul>
        <li>
          <a class="wordColorScheme glow" href="#">Legal</a>
        </li>
        <li>
          <a class="wordColorScheme glow" href="#">Privacy Policy</a>
        </li>
        <li>
          <a class="wordColorScheme glow" href="#">Contact Us</a>
        </li>
        <li>
          <a class="wordColorScheme glow" href="#">Help</a>
        </li>
      </ul>
    </nav>

    <!--Final Copyright bar-->
    <div id="copyright">
      <p>© 2018 All Rights Reserved</p>
    </div>

  </footer>