.content-center {
    display: block;
    position: absolute;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 85%;
    width: 90%;
    overflow: hidden;
    background: rgb(179, 165, 128);
    z-index: 1;
}

#content-head {
    background: linear-gradient(rgb(179, 165, 128), rgba(179, 165, 128, 0.1));
    padding-top: 5%;
    position: fixed;
    width: 100%;
    z-index: 2 !important;
}

#content-home {
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    padding-right: 4%;
    margin-right: -18px;
    height: 100%;
    overflow-y: scroll;
    box-sizing: content-box;
    display: block;
}

#home-foot {
    height: 8%;
    margin-bottom: 10%;
    width: 100%;
}

#content-foot {
    background: linear-gradient(rgba(179, 165, 128,0.1), rgb(179, 165, 128));
    padding-bottom: 5%;
    position: absolute;
    bottom: 0%;
    width: 100%;
    z-index: 2 !important;
}